/* styles.css */

/* 기본 스타일 초기화 */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 기본 바디 스타일 */
body {
    background-color: white;
    color: #333;
    line-height: 1.6;
}

/* 컨테이너 */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 헤더 스타일 */
.header {
    background-color: #007bff; /* 파란색 */
    color: white;
    padding: 40px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
}

/* 이미지 섹션 스타일 */
.image-section {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.portfolio-image {
    max-width: 45%;
    margin: 20px;
    border: 5px solid #007bff; /* 파란색 */
}

/* 프로젝트 섹션 스타일 */
.projects-section {
    background-color: white;
    padding: 40px 0;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 20px;
<<<<<<< HEAD
    color: #007bff; /* 파란색 */
=======
    color: cornflowerblue; /* 파란색 */
>>>>>>> e0dd93e (portfolio test)
}

.project {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

/* 연락처 섹션 스타일 */
.contact-section {
<<<<<<< HEAD
    background-color: #007bff; /* 파란색 */
=======
    background-color: cornflowerblue; /* 파란색 */
>>>>>>> e0dd93e (portfolio test)
    color: white;
    padding: 40px 0;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-section a {
    color: white;
    text-decoration: none;
}

/* 푸터 스타일 */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
